<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
        	<link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='css/style.css')}}">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='css/bootstrap.min.css')}}">
            <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> 
            <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> 
        {% endblock %}

        {% if title %}
        <title>{{ title }} - VulFlask</title>
        {% else %}
        <title>VulFlask</title>
        {% endif %}

       
        {% endblock %}
    </head>
    {% block navbar %}
	<div class="navbar navbar-dark bg-dark">
		<a href="/" class="navbar-brand px-3">Flask Vulnerável</a>
		<div class="mr-auto px-3">
            {% if current_user.is_authenticated %}
	    	    <a href="/my_profile" class="navbar-text px-3 my-nav-link">Meu perfil</a>
                <a href="/logout" class="navbar-text px-3 my-nav-link">Sair</a>
            {% else %}
                <a href="/login" class="navbar-text px-3 my-nav-link">Entrar</a>
                <a href="/signup" class="navbar-text px-3 my-nav-link">Cadastrar</a>
            {% endif %}
	    	
		</div>
		
	</div>
	{% endblock %}
    <body>
        {% block content %}
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="container-fluid py-3 mt-4">
                        <div class="row">
                            <ul class="list-group nav nav-pills">
                                <li class="list-group-item list-group-item-action text-center bg-dark "><h2 class="text-white">Vulnerabilidades</h2></li>
                                <li class="list-group-item list-group-item-action"><a href="/cross_site_scripting" class="sidebar-link"><h4>Cross-Site Scripting</h4> </a></li>
                                <li class="list-group-item list-group-item-action"><a href="/cross_site_request_forgery_select" class="sidebar-link"><h4>Cross-Site Request Forgery</h4> </a></li>
                                <li class="list-group-item list-group-item-action"><a href="/sql_injection" class="sidebar-link"><h4>SQL injection</h4> </a></li>
                                <li class="list-group-item list-group-item-action"><a href="/sql_injection" class="sidebar-link"><h4>Insecure Direct Object Reference</h4> </a></li>
                            </ul>
                        </div>
                    </div>  
                </div>
                <div class="col-sm-8">
                    <div class="container-fluid py-3 mt-4">
                        <div class="row">
                            {% block container %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
        
    </body>
    
</html>