{% extends 'base.html' %}

{% block container %}
<ul class="list-group nav nav-pills">
    <li class="list-group-item list-group-item-action text-center bg-dark "><h2 class="text-white">Cross-Site Request Forgery Vulnerable</h2></li>
    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 offset-1">
                    {% if transfered %}
                    <div>
                        <div class="alert alert-success text-center" role="alert">
                            {{ message }}
                        </div>
                    </div>
                    {% elif transfered is not none %}
                    <div>
                        <div class="alert alert-danger text-center" role="alert">
                            {{ message }}
                        </div>
                    </div>
                    {% endif %}
                    <form action="/cross_site_request_forgery_vulnerable" method="post">
                        <div class="form-group">
                            <p class="text-center">
  								<label for="send_to">Quantidade de pontos que quer transferir</label><br>
  								<input type="text" id="value" name="value" class="form-control"><br>
  								<label for="send_to">Usuário para quem quer transferir estes pontos</label><br>
  								<input type="text" id="send_to" name="send_to" class="form-control"><br>
  								<input type="submit" id="transfer" value="Trasferir" class="btn btn-dark">
                            </p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}